/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */


body {
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
}

header {
    background-image: url(photos/header-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 789px;
}
.header-container {
    max-width: 1050px;
    margin: 0 auto;
}


/* NAVIGATION */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;

}
.nav-logo h1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin-right: 76px;
    color: #fff;
}
.header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-nav ul {
    display: flex;
    gap: 21px;
    list-style-type: none;
}

.header-nav ul li a{
    text-decoration: none;
    color: #fff;
}

.login-links a {
    text-decoration: none;
    color: #fff;
}
.login {
    margin-right: 45px;
}

.login-submit{
    padding: 15px 25px 15px 25px;
    background-color: #23A6F0;
    border-radius: 5px;
}
.login-submit:after {
    content: url(icons/arrow-submit.svg);
    padding-left: 15px;
}

.header-bottom {
    background-color: #FAFAFA;
    min-height: 208px;
}


/* HEADER TEXT  */


.header-text {
    margin: 0 auto;
    max-width: 699px;
    height: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 122px;
}
.header-text-main h2{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 58px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0;
}
.header-text-bottom p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 40px;
}
.header-text-buttons {
    margin-top: 40px;
}
.header-text-buttons a:first-child {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 15px 36px;
    text-decoration: none;
    background-color: #23A6F0;
    border-radius: 37px;
    margin-right: 10px;
}

.header-text-buttons a:last-child {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 15px 36px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 37px;
}
.header-text-buttons a:first-child:hover {
    transition-property: all;
    transition-duration: 0.4s;
    opacity: 70%;
    border: 1px solid #fff;
}
.header-text-buttons a:last-child:hover {
    transition-property: all;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #23A6F0;
}


/* bottom header CARDS */


.header-bottom {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header-bottom-card1 {
    position: relative;
    bottom: 115px;
    background-color: #fff;
    padding: 35px 40px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.header-bottom-card2 {
    position: relative;
    bottom: 115px;
    background-color: #fff;
    padding: 35px 40px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.header-bottom-card3 {
    position: relative;
    bottom: 115px;
    padding: 35px 40px;
    background-color: #23A6F0;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

}



.header-bottom-card1 h3, .header-bottom-card2 h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #252B42;
}
.header-bottom-card1 p, .header-bottom-card2 p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #737373;
} 
.header-bottom-card3 h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #fff;
}
.header-bottom-card3 p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #fff;
}


/* FEATURES */

.features {
    min-height: 435px;
}
.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1050px;
    min-height: inherit;
    margin: 0 auto;
}
.features-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    min-height: 243px;
    max-width: 325px;
}
.features-card img {
    width: 72px;
    margin-bottom: 30px;
}
.features-card h3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}
.features-card p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}



/* testimonials */



.testimonials {
    background-color: #FAFAFA;
    min-height: 872px;
}
.testimonials-container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 112px;
}
.testimonials-text h2 {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    color: #252B42;
}

.testimonials-text p {
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;   
    color: #737373;
}

.testimonials-cards {
    display: flex;
    margin-top: 80px;
    gap: 55px;
    margin-bottom: 197px;
}
.testimonials-card {
    padding: 40px 35px;
    gap: 50px;
    max-width: 297px;
    max-height: 376px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    text-align: center;
}





/*             COMPANIES              */



.companies {
    background: #FAFAFA;
    padding-bottom: 20px;
}
.companies-container {
    max-width: 1050px;
    margin: 0 auto;
    min-height: 339px;
}
.companies-icon {
    max-width: inherit;
    height: 175px;
    margin: 0 auto;
    background-image: url(company-icons/company-icon1.svg), 
    url(company-icons/company-icon2.svg), 
    url(company-icons/company-icon3.svg), 
    url(company-icons/company-icon4.svg), 
    url(company-icons/company-icon5.svg),
    url(company-icons/company-icon6.svg);
    background-repeat: no-repeat;
    background-position: 3% 50%, 24% 50%, 42% 45%, 60% 50%, 78% 50%, 96% 50%; 
}
.companies-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: inherit;
    height: 124px;
    background: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
    border-radius: 2px;
    margin-top: 86px;
}


.companies-form h3 {
    margin: 0;
    margin-left: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.companies-form form input[type="email"] {
    outline: none;
    padding: 15px 235px 15px 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #737373;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0px 0px 5px;
}
.companies-form form {
    display: flex;
    justify-content: flex-start;
}
.companies-form form input::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #737373;
    margin-right: 0;
}

.companies-form form input[type="submit"] {
    padding: 15px 25px;
    background: #23A6F0;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    margin-right: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}



/* PRICING */


.pricing {
    min-height: 1116px;
    background-color: #FAFAFA;
    padding-bottom: 46px;
}
.pricing-container {
    max-width: 1050px;
    margin: 0 auto;
    min-height: inherit;
}
.pricing-text {
    padding-top: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 0;
    margin-bottom: 10px;
}

.pricing-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;
}
.pricing-options {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1px;
    margin-top: 80px;
    padding: 0px 32.5px;
}

.pricing-free, .pricing-premium {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 50px 40px;
    max-width: 306px;
    min-height: 565px;
    background: #FFFFFF;
    border: 1px solid #23A6F0;
    border-radius: 10px;
}
.pricing-free p, .pricing-premium p {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
}

.pricing-free p:nth-child(3), .pricing-premium p:nth-child(3) {
    margin-bottom: 0;
}

.pricing-free h3, .pricing-premium h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #252B42;
    text-transform: uppercase;
    text-align: center;
}

.pricing-standard {
    padding: 70px 40px;
    max-width: 307px;
    min-height: 605px;
    background: #252B42;
    border: 1px solid #23A6F0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.pricing-standard p {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;

}
.pricing-standard p:nth-child(3) {
    margin-bottom: 0;
}

.pricing-standard h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.price {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    color: #23A6F0;
}
.price + img {
    position: relative;
    bottom: 17px;
    left: 13px;
}
.per-month {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #8EC2F2;
}

.pricing-list {
    margin-top: 17px;
}

.pricing-list ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}


.pricing-list ul li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
} 
.pricing-list ul li::before {
    content: url(icons/check-green.svg);
    padding-right: 10px;
    margin-top: 10px;
}
.pricing-list ul li:nth-last-child(-n+2)::before {
	content: url(icons/check-nongreen.svg);
}


.pricing-submit {
    text-align: center;
    padding: 15px 40px;
    background-color: #23A6F0;
    border-radius: 5px;
    margin-top: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 50px;
}




/* ------ CONTACT ---------- */



.contact {
    background: linear-gradient(to bottom, #252B42 807px, #FAFAFA 415px);
    min-height: 1200px;
}
.contact-container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.contact-top {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 150px;
}
.contact-text {
    max-width: 476px;
}
.contact-text h2, .contact-text p {
    margin: 0;
}
.contact-text h2 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.contact-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.contact-form {
    display: flex;
    justify-content: flex-end;
    max-width: 877px;
    min-height: 610px;
    background: #FFFFFF;
    margin: 0 auto;
    background-image: url(photos/form-photo.jpg);
    background-repeat: no-repeat;
    background-position: center left;
    margin-bottom: 134px;
}
.form-content {
    max-width: 507px;
    margin: 40px 50px 40px 319px;
}
.form-content h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 0;
    margin-bottom: 40px;
}



/*           INPUTS in form        */


label {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 10px 0;
}
label:first-child {
    margin-top: 0;
}
.contact-form input {
    min-width: 480px;
    outline-style: none;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #737373;
    padding-left: 20px;
}
.contact-form select {
    min-width: 508px;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #737373;
    padding-left: 20px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
input[type=text] {
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
input[type=email] {
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
input[type=time] {
    width: 485px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin-bottom: 40px;
}


.form-content form input[type=submit] {
    cursor: pointer;
    width: 100%;
    background: #23A6F0;
    border-radius: 5px;
    padding: 15px 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    letter-spacing: 0.2px;    
    color: #FFFFFF;
    border: 0;
}
input[type=submit]:hover {
    transition-property: all;
    transition-duration: 0.3s;
    opacity: 70%;
}




/*        FOOTER        */



.footer-top {
    background-color: #FAFAFA;
    height: 142px;
}
.footer-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
    padding: 40px 0;
}
.footer-top-container h3 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #252B42;
}
.footer-top-container p {
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #737373;
}
.footer-top-button a {
    text-decoration: none;
    padding: 15px 40px;
    width: 160px;
    height: 52px;
    background: #23A6F0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.footer-main {
    background-color: #fff;
    min-height: 272px;
}
.footer-main-container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* footer links */
.footer-main-list ul {
    padding: 0;
}

.footer-main-list ul a {
    list-style-type: none;
    text-decoration: none ;
}
.footer-main-list ul li {
    margin-bottom: 10px;
}
.footer-main-list p {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 0;
    margin-bottom: 20px;
}

.footer-main-list ul li {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #737373;
}
.footer-contacts-list {
    margin-right: 90px;
}
.footer-contacts-list li {
    list-style-type: none;
}
.footer-contact-frst, .footer-contact-scnd, .footer-contact-thr {
    display: flex;
}
.footer-contact-frst::before {
    content: url(social-icons/social-upper1.svg);
    margin-right: 10px;
}
.footer-contact-scnd::before {
    content: url(social-icons/social-upper2.svg);
    margin-right: 10px;
}
.footer-contact-thr::before {
    content: url(social-icons/social-upper3.svg);
    margin-right: 10px;
}


.footer-bottom-container {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.footer-bottom-container p {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #737373;
}
.footer-bottom-links {
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-bottom-links a:hover {
    transition-property: all;
    transition-duration: 0.3s;
    opacity: 70%;
}
.header-nav-mobile {
    display: none;
}

.mobile-icons {
    display: none;
}
.header-cards-mobile {
    display: none;
}
.contact-photo-top {
    display: none;
}

.form-head-mobile {
    display: none;
}
.foooter-links-mobile {
    display: none;
}
.header-menu-mobile {
    display: none;
}



/*       MEDIA     */






@media (max-width: 1100px) {
    header {
        width: 100%;
    }
    .header-bottom {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 30px;
    }
    .header-container {
        max-width: 700px;
    }
    .nav {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .features-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .testimonials-cards {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding: 0 30px;
    }
    .companies-icon {
        background-position: 5% 0%, 45% 0%, 95% 0%, 5% 100%, 45% 100%, 95% 100%;
    }
    .companies-form {
        flex-direction: column;
        text-align: center;
        padding: 20px 0 40px 0;
    }
    .companies-form h3 {
        margin-left: 0;
    }
    .companies-form form{
        margin-top: 20px;
    }
    .companies-form form input[type=submit] {
        margin-right: 0;
    }
    .contact-container {
        padding: 0 30px;
    }
    .contact-form {
        background-image: none;
        width: inherit;
        justify-content: center;
    }
    .form-content {
        width: 100%;
        margin: 0px;
        padding: 40px 50px;
    }
    .footer-top-container {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 20px;
    }
    .footer-main-container {
        flex-wrap: wrap;
        padding: 50px 20px;
    }
    .footer-bottom-container {
        padding: 25px 20px;
    }
    .footer-main-list {
        margin: 10px 0;
    }
    .header-nav-mobile {
        display: none;
    }
    .mobile-icons {
        display: none;
    }
    .header-cards-mobile {
        display: none;
    }
    .contact-photo-top {
        display: none;
    }
    .form-head-mobile {
        display: none;
    }
    .foooter-links-mobile {
        display: none;
    }
    .header-menu-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        background-image: none;
    }

    .header-menu-mobile.menu-open {
        display: flex;
        flex-direction: column;
        padding-top: 75px;
        padding-bottom: 98px;
    }

    /* .header-menu-mobile {
        display: flex;

    } */
    .header-menu-mobile ul {
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .header-menu-mobile li {
        margin-bottom: 30px;
    }
    .header-menu-mobile li:last-child {
        margin: 0;
    }
    .header-menu-mobile a {
        text-decoration: none;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
    }


    main {
        border-bottom: 3px solid #252B42;
    }
    .header-container {
        background-color: #FFFFFF;
        width: 100%;
        padding: 23px 37px;
    }
    .nav {
        padding-top: 0;
    }
    .header-nav {
        display: none;
    }
    .nav ul:first-child, .login-links{
        display: none;
    }
    .header-nav-mobile {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .nav-mobile-logo h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.33;
        letter-spacing: 0.1px;
        color: #252B42;

    }
    .mobile-icons {
        display: flex;
        gap: 24px;
        list-style-type: none;
    }
    .mobile-icons li:last-child {
        margin-top: 4px;
    }
    .header-text {
        margin: 0;
        min-height: 1489px;
        background-image: url(photos/header-photo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 45% 0%;
        padding: 80px 37px;
        padding-bottom: 130px;
    }
    .heaeder-text-bottom {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-top: 40px;
    }
    .header-text-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        gap: 25px;
    }
    .header-text-buttons a:first-child {
        margin: 0;
    }
    .header-bottom {
        display: none;
    }
    .header-cards-mobile {
        width: 100%;
        margin: 0;
        margin-top: 80px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    .header-bottom-card1, .header-bottom-card2, .header-bottom-card3 {
        padding: 37px 40px 35px 40px;
        position: static;
    }

    .header-bottom-card1 h3, .header-bottom-card2 h3, .header-bottom-card3 h3 {
        margin: 10px 0;
    }
    .header-bottom-card1 p, .header-bottom-card2 p, .header-bottom-card3 p {
        margin: 0;
        margin-bottom: 10px;
    }
    .features-container {
        flex-direction: column;
        padding-top: 120px;
        gap: 30px;
    }
    .testimonials {
        margin-bottom: 488px;
    }
    .testimonials-card {
        margin: 0 58px;
    }
    .testimonials-cards {
        gap: 30px;
        margin: 0;
        padding: 0;
        padding-top: 60px;
        padding-right: 0;
    }
    .testimonials-text {
        margin-top: 45px;
        margin: 0 52px;
    }
    .testimonials-text h2 {
        display: none;
    }
    .companies {
        padding-bottom: 0;
    }
    .companies-container {
        width: 100%;
    }
    .companies-icon {
        min-height: 1014px;
        background-position: 50% 0%, 50% 15%, 50% 35%, 50% 55%, 50% 75%, 50% 100%;
        background-size: 35%;
    }
    .companies-form {
        height: 152px;
        padding: 0;
        padding: 30px 38.5px;
    }
    .companies-form form input[type="email"] {
        width: 100%;
        padding: 15px 60px 15px 20px;
    }
    .companies-form form input[type="submit"] {
        width: 100%;
    }
    .companies-form form input::placeholder {
        text-overflow: ellipsis;

    }
    .companies-form h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.33;
        text-align: center;
        letter-spacing: 0.1px;
        color: #FFFFFF;
    }
    .pricing {
        padding-bottom: 0;
    }
    .pricing-text {
        padding-top: 45px;
        padding: 45px 75px 10px 75px;
    }
    .pricing-options {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact {
        margin-top: 80px;
        width: 100%;
        background: none;
        background: linear-gradient(to bottom, #252B42 70%, #FAFAFA 30%);
    }
    .contact-container {
        width: inherit;
        padding: 125px 49px 110px 0;
    }
    .contact-top {
        flex-direction: column;
        margin: 0;
        padding: 0 49px;
        margin-bottom: 110px;
        margin-top: 125px;

    }


    .form-content {
        width: 100%;
        min-height: 954px;
        padding: 0;
        min-height: 0;
    }
    .form-content form input {
        min-width: 200px;
        width: calc(100% - 22px);
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .contact-form select {
        min-width: 220px;
        width: 100%;
    }
    .contact-container {
        padding: 0;
    }
    .contact-text p {
        margin-top: 15px;
    }
    .contact-photo img {
        width: 100%;
        padding-top: 130px;
    }
    .contact-photo-top {
        width: 100%
    }
    .contact-photo-top img {
        width: inherit;
    }
    .contact-photo-top {
        display: block;
        align-self: flex-start;
    }
    .form-content h3 {
        display: none;
    }
    .form-head-mobile {
        width: 65%;
        display: inline-block;
        padding: 40px 50px;
    }
    .form-head-mobile h3 {
        text-align: start;
        display: inline-block;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.42;
        letter-spacing: 0.2px;
        color: #252B42;
        margin-bottom: 0;
    }
    .form-content form {
        padding: 0 50px;
    }

    .header-container {
        padding: 23px 0;
    }
    .header-nav-mobile {
        justify-content: space-around;
    }
    .form-content form input[type=submit] {
        width: 100%;
        margin-bottom: 40px;
    }




    footer {
        margin-top: 40px;
    }
    .footer-main {
        margin-top: 95px;
    }
    .footer-main-container {
        flex-direction: column;
        align-items: flex-start;
        max-width: 239px;
        margin: 0 auto;
        padding: 50px 0;
    }
    .footer-main-container div {
        margin: 0;
        margin-bottom: 30px;
    }
    .footer-main-container div:last-child {
        margin: 0;
    } 
    .footer-bottom-container {
        max-width: 236px;
        margin: 0 auto;
        flex-direction: column;
        gap: 50px;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 55px;
    }
    .footer-bottom-links {
        display: none;
    } 
    .foooter-links-mobile {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .footer-top-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        max-width: 239px;
    }
}